/* ============================
   GOOGLE FONT & RESET
============================ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* ============================
   NAVBAR
============================ */

nav{
    width: 100%;
    max-width: 1300px;
    height: 85px;
    color: #ffffff;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 10;
    transition: 0.3s;
}

nav:hover{
    background-color: rgb(255, 255, 255);
    h2{
        color: rgb(0, 0, 0);
    }
    .nav-a-sejarah-kita{
        color: rgb(0, 0, 0);
    }
    .nav-a-shopping{
        color: rgb(0, 0, 0);
    }
}
/* ============================
   LOGO
============================ */

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 60px;
    height: 60px;
}

.logo h2{
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s;
}


/* ============================
   NAVIGATION MENU
============================ */

nav ul{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

nav ul li{
    list-style: none;
}

nav a{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
}

/* ====================================================
   SEJARAH KITA, SHOPPING, and RECOMMENDATION BUTTON
==================================================== */
.nav-a-sejarah-kita{
    border-bottom: #33333300;
}
.nav-a-sejarah-kita:hover{
    border-bottom: 2px solid rgb(0, 114, 167);
}

.nav-a-shopping{
    border-bottom: #33333300;
}
.nav-a-shopping:hover{
    border-bottom: 2px solid rgb(0, 114, 167);
}

.nav-a-rekomendasi{
    background-color: rgb(108, 65, 34);
    color: white !important;

    padding: 10px 18px;

    border-radius: 10px;
}

.nav-a-rekomendasi:hover{
    background-color: rgb(54, 24, 0);
}

/* ============================
   HEADER VARIATIONS
============================ */

/* HOME */

.header-home .logo{
    color: white;
}

.header-home a{
    color: white;
}


/* STORE */

.header-store .logo{
    color: rgb(255, 255, 255);
}

.header-store .nav-a-sejarah-kita{
    color: rgb(255, 255, 255);
}

.header-store .nav-a-shopping{
    color: rgb(255, 255, 255);
}

.header-store .nav-a-rekomendasi{
    color: white;
}


/* DETAIL */

.detail-header .logo h2{
    color: #5A3622;
}

.detail-header a{
    color: #333;
}

.detail-header .nav-a-rekomendasi{
    color: rgb(0, 0, 0);
}


.header-store nav a{
    color: rgb(0, 0, 0);
}



/* ============================
   BUTTON
============================ */

button{
    cursor: pointer;
    border: none;
    outline: none;
    font-family: inherit;
}


/* ============================
   IMAGE
============================ */

img{
    display: block;
    max-width: 100%;
}


/* ============================
   LINK
============================ */

a{
    transition: .3s;
}


/* ============================
   SECTION CONTAINER
============================ */

.container{
    width: 90%;
    max-width: 1300px;
    margin: auto;
}